---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="A rudimentary implementation of a CMS using Notion as the backend and Astro Content Collection API"
  pubDate={new Date("January 16 2024")}
  heroImage="/smiley-robot-header-02.png"
>
  <p>
    This my first attempt to build a CMS using Notion as the backend and Astro Content Collections. I have been looking
    for a tool to help me stay organised and keep track of my notes and ideas, out of many many tools I have tried, to
    date <a href="https://www.notion.so/">Notion</a> has been the best. I have been using it for a while now and I am very
    happy with it that I recently purchased the paid plan. I have also started working on a number of side projects which
    require customised blog frontends and by far the most approachable and efficient web frameworks I have used to date for
    building content heavy websites is <a href="https://astro.build/">Astro</a>. So I thought why not combine the two
    and build a CMS using Notion as the backend and Astro as the frontend.
  </p>

  <section>
    <h2>How to use this template</h2>

    <p>
      You can use this template as a starting point to create your own blog based on your pre-existing Notion workspace.
      Note that the current implmentation only supports a single Notion database, however, you can easily extend it to
      support as many databases as you like. Thanks to the flexibility of Astro you can also easily change the look and
      feel of the blog by editing the
      <em>Layouts</em> and <em>Components</em> in the <em>src</em> folder.
    </p>

    <p>
      Refer to the <a href="https://github.com/endeesa/notion-cms-astro-blog/blob/main/README.md">README</a> for more details on how to get started.
    </p>
  </section>

  <section>
    <h2>Pre-requisites</h2>
  </section>

  <ul>
    <li>A free or paid <a href="https://www.notion.so/">Notion</a> account</li>
    <li>
      A <a href="https://www.notion.so/help/add-and-manage-connections-with-the-api#add-connections-to-pages">Notion Intergration</a> to allow programmatic access to your workspace. Make sure you do not give more
      permissions than required.
    </li>
    <li>A <a href="https://www.notion.so/">Notion</a> API key</li>
    <li>A <a href="https://www.notion.so/">Notion</a> database</li>
  </ul>
</Layout>

<style>
  section {
    margin-bottom: 2rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  ul {
    margin-bottom: 2rem;
  }

  li {
    margin-bottom: 0.5rem;
    list-style: disc;
  }
</style>
