---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <div id="page-hero" class="hero-section"></div>

    <main>
      <section id="greet-box" class="greet-box">
        <h1>📜 Hello, there!</h1>
        <p>
          This template demonstrates how to use <a href="https://astro.build/">Astro</a> and <a href="https://www.notion.so/">Notion</a> as a <a href="">CMS</a>. The blog content is fetched from a Notion database using the official <a href="https://www.npmjs.com/package/@notionhq/client">Notion SDK for JavaScript</a>. THANKS to <a href="https://docs.astro.build/en/guides/content-collections/">Astro's Content Collection API</a>, you simply need to download your Notion content in Markdown format and place it in the <code>src/content/blog</code> folder. Optionally, you can intergrate with <a href="https://github.com/features/actions">Github Actions</a> to run the synchronization script(<code>npm run sync</code>) on a schedule.
        </p>
      </section>

      <section id="important-links">
        <h2>Imporant Links</h2>

        <ul>
          <li>
            <a href="https://github.com/endeesa/notion-cms-astro-blog"> Github Repo</a>
          </li>

          <li>
            <a href="https://developers.notion.com/reference/intro">Notion REST API Reference</a>
          </li>
        </ul>
      </section>

      <Footer />
      <style>
        .hero-section {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30vh;
          padding: 16px;
          margin-bottom: 1rem;
          width: 100vw;
          background-image: url("/smiley-robot-header-01.png");
		  background-position: left top;
		  background-size: cover;
        }

        .illustration-caption {
          font-size: 0.8rem;
          text-align: center;
          margin-top: 0.5rem;
          color: gray;
        }

        .greet-box {
          padding: 16px;
          margin-bottom: 2rem;
          border: 1px solid #eee;
          border-radius: 4px;
          background-color: #f5f5f5;
        }

        #important-links {
          margin-bottom: 4vh;
        }
      </style>
    </main>
  </body>
</html>
